<div>
    <button (click)="hideShowDetails()">Hide / Show details</button>
</div>
<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
    <div class="row">
        <div class="col-sm-4">
            <div>
                <img src='{{event?.imageUrl}}' class="event-image" />
            </div>
        </div>
        <div class="col-sm-8" [hidden]="hideDetails">
            <h2>{{event?.name| uppercase}}</h2>
            <div>Date : {{event?.date | date:'shortDate'}}</div> <!-- date:'d/M/y' -->
            <!-- <div [ngClass]="getStartTimeClass()" [ngSwitch]="event?.time"> -->
            <div [ngStyle]="getStartTimeStyle()" [ngSwitch]="event?.time">
                Heure: {{event?.time}} -
                <span *ngSwitchCase="'8:00 am'">Early start</span>
                <span *ngSwitchCase="'10:00 am'">Late start</span>
                <span *ngSwitchDefault>Normal start</span>
            </div>
            <div>Prix: {{event?.price | currency:'EUR'}}</div>
            <div *ngIf="event?.location">
                <span>Adresse : {{event?.location?.address}} {{event?.location?.city}},
                    {{event?.location?.country}}</span>
            </div>
            <div *ngIf="event?.onlineUrl">
                Online URL : <a href="{{event?.onlineUrl}}" target="_blank">{{event?.onlineUrl}}</a>
            </div>
        </div>
    </div>
</div>